<template>
    <div id="usereditbox" class="box box-primary">
        <div class="hidden error alert alert-warning alert-dismissible">
            <button type="button" class="close" data-hide="alert" aria-hidden="true">?</button>
            <h4><i class="icon fa fa-warning"></i> Error!</h4>
            <div class="errormessage">

            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="name">Name</label>
                    <input type="text" name="name" v-model="role.name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="identifier">Identifier</label>
                    <input type="text" name="identifier" v-model="role.identifier"/>
                </div>
            </div>
            <button class="btn btn-info" v-on:click="save">Save</button>
        </div>
    </div>
</template>

<script>
    window.Vue = require('vue');
    var VueResource = require('vue-resource');
    window.Vue.use(VueResource);

    Vue.http.interceptors.push((request, next) => {
        request.headers.set('X-CSRF-TOKEN', window.Laravel.csrfToken);
        console.log(window.Laravel.csrfToken);
        next();
    });

    export default {
        data () {
            return {
                id: this.$route.params.id,
                role: {},
            }
        },

        methods: {
            checkRole:function(roleId)
            {

            },
            init: function () {
                var self = this;
                this.$http.get("/admin/role/" + self.id).then(response => {
                    self.role = response.body.data.role;
                }, response => {
                    console.log("error");
                });
            },
            save: function () {
                var self = this;
                console.log(self.role);
                this.$http.put("/admin/role/" + self.id, self.role
                ).then(response => {
                    this.$router.push({name: "adminroletable"});
                }, response => {
                    var errorString = response.body.errors.join("<BR/>");
                    jQuery("#usereditbox > div.error > div.errormessage").html(errorString);
                    jQuery("#usereditbox > div.error ").removeClass("hidden");
                    jQuery("#usereditbox > div.error ").show();
                    console.log("error");
                });
            }
        },
        mounted () {
            this.init();
        }
    }


</script>
