<template>
    <div id="usereditbox" class="box box-primary">
        <div class="hidden error alert alert-warning alert-dismissible">
            <button type="button" class="close" data-hide="alert" aria-hidden="true">?</button>
            <h4><i class="icon fa fa-warning"></i> Error!</h4>
            <div class="errormessage">

            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="name">Name</label>
                    <input type="text" name="name" v-model="user.name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="email">Email</label>
                    <input type="text" name="email" v-model="user.email"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label >Roles</label>
                    <div v-for="role in roles">
                        <label>
                        <input
                          type="checkbox"
                          v-model="user.roles"
                          :value="role.identifier"
                        > {{role.identifier}}
                        </label>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label >Groups</label>
                    <div v-for="group in groups">
                        <label>
                        <input
                          type="checkbox"
                          v-model="user.groups"
                          :value="group.identifier"
                        > {{group.identifier}}
                        </label>

                    </div>
                </div>
            </div>

            <button class="btn btn-info" v-on:click="save">Save</button>
        </div>
    </div>
</template>

<script>
    window.Vue = require('vue');
    var VueResource = require('vue-resource');
    window.Vue.use(VueResource);

    Vue.http.interceptors.push((request, next) => {
        request.headers.set('X-CSRF-TOKEN', window.Laravel.csrfToken);
        console.log(window.Laravel.csrfToken);
        next();
    });

    export default {
        data () {
            return {
                id: this.$route.params.id,
                user: {},
                roles: {},
                groups:{}
            }
        },

        methods: {
            checkRole:function(roleId)
            {

            },
            init: function () {
                var self = this;
                this.$http.get("/admin/user/" + self.id).then(response => {
                    console.log(response.body.data);
                    self.user = response.body.data.user;
                    self.user.roles = self.user.roles.map(function(r) { return r.identifier; });
                    self.user.groups = self.user.groups.map(function(r) { return r.identifier; });
                    self.groups = response.body.data.groups;
                    self.roles = response.body.data.roles;
                    console.log(response.body.data.roles);
                }, response => {
                    console.log("error");
                });
            },
            save: function () {
                var self = this;
                console.log(self.user);
                this.$http.put("/admin/user/" + self.id, self.user
                ).then(response => {
                    this.$router.push({name: "adminusertable"});
                }, response => {
                    var errorString = response.body.errors.join("<BR/>");
                    jQuery("#usereditbox > div.error > div.errormessage").html(errorString);
                    jQuery("#usereditbox > div.error ").removeClass("hidden");
                    jQuery("#usereditbox > div.error ").show();
                    console.log("error");
                });
            }
        },
        mounted () {
            this.init();
        }
    }


</script>
