<template>
    <div id="usereditbox" class="box box-primary">
        <div class="hidden error alert alert-warning alert-dismissible">
            <button type="button" class="close" data-hide="alert" aria-hidden="true">?</button>
            <h4><i class="icon fa fa-warning"></i> Error!</h4>
            <div class="errormessage">

            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name">First Name</label>
                            <input type="text" name="name" v-model="customer.first_name"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="lname">Last Name</label>
                            <input type="text" name="lname" v-model="customer.last_name"/>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">

                    <div class="x">
                        <h3> <button class="pull-right" @click="addAddress">add</button> Addresses</h3>

                        <span v-for="(address,index) in customer.addresses">
                            <div class="addressboxes box box-success box-solid">
                                <!-- /.box-header -->
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <input class="pull-left" type="radio"
                                               @click="resetIsPrimary(address, index)"
                                               name="primary" v-bind:value="1" v-model="address.is_primary"></input>
                                        &nbsp;

                                        <span v-if="address.address1.length>18">
                                            {{ address.address1.substr(0,18)+" ..." }}
                                        </span>
                                        <span v-if="address.address1.length<=18">
                                            {{ address.address1 }}
                                        </span>

                                    </div>
                                </div>
                                <div v-bind:class="{ 'box-body':true, strikethrough: address.trashed==true}">
                                    <p>
                                        <input v-show="address.editing===true"
                                               class="form-control"
                                               type="text"
                                               v-model="address.address1"/>
                                        <span v-show="address.editing===false">{{ address.address1 }}
                                        <br/>
                                        </span>
                                        <input v-show="address.editing===true"
                                               class="form-control"
                                               type="text"
                                               v-model="address.address2"/>
                                        <span v-show="address.editing===false">{{ address.address2 }}
                                        <br/>
                                        </span>
                                        <input v-show="address.editing===true"
                                               class="form-control"
                                               type="text" v-model="address.city"/>
                                        <span v-show="address.editing===false">{{ address.city }}
                                        <br/>
                                        </span>
                                        <input v-show="address.editing===true"
                                               class="form-control"
                                               type="text"
                                               v-model="address.state"/>
                                        <span v-show="address.editing===false">{{ address.state }}
                                        <br/>
                                        </span>
                                        <input v-show="address.editing===true"
                                               class="form-control"
                                               type="text"
                                               v-model="address.postal_code"/>
                                        <span v-show="address.editing===false">{{ address.postal_code }}
                                        <br/>
                                        </span>
                                        <button v-show="address.trashed===true" @click="toggleTrash(address, index)">undo</button>
                                        <button v-show="address.trashed===false && address.editing===false"
                                                @click="toggleTrash(address, index)">delete</button>
                                        <button v-show="address.editing===true" @click="toggle(address, index)">done</button>
                                        <button v-show="address.editing===false && address.trashed===false"
                                                @click="toggle(address, index)">
                                            edit</button>

                                    </p>
                                </div>
                                <!-- /.box-body -->
                            </div>

                        </span>

                    </div>

                </div>
            </div>
            <button class="btn btn-info" v-on:click="save">Save</button>
        </div>
    </div>
</template>

<script>
    window.Vue = require('vue');
    var VueResource = require('vue-resource');
    window.Vue.use(VueResource);

    Vue.http.interceptors.push((request, next) => {
        request.headers.set('X-CSRF-TOKEN', window.Laravel.csrfToken);
        console.log(window.Laravel.csrfToken);
        next();
    });

    export default {
        data () {
            return {
                id: this.$route.params.id,
                customer: {},
                addressTypes: {},
            }
        },

        methods: {
            resetIsPrimary: function (address, index) {
                var self = this;
                self.customer.addresses.map(function (a) {
                    a.is_primary = false;
                });
                address.is_primary = 1;
                self.customer.addresses.splice(index, 1, address);
                self.customer.addresses.sort(function(a,b){
                    return a.is_primary<=b.is_primary;
                });
            },
            addAddress: function () {
                var self = this;
                var isPrimary = 0;
                if (self.customer.addresses.length == 0) {
                    isPrimary = 1;
                }
                self.customer.addresses.push({is_primary: isPrimary, trashed: false, editing: true});
            },
            toggle: function (address, index) {
                var self = this;
                address.editing = !address.editing;
                self.customer.addresses.splice(index, 1, address);
            },
            toggleTrash: function (address, index) {
                var self = this;
                address.trashed = !address.trashed;
                self.customer.addresses.splice(index, 1, address);
            },

            sorted: function (addresses) {
                return addresses.filter(function (address) {
                    return number % 2 === 0
                })
            },
            init: function () {
                var self = this;
                this.$http.get("/admin/customer/" + self.id).then(response => {
                    self.customer = response.body.data.customer;
                    self.addressTypes = response.body.data.addressTypes;
                    console.log(self.addressTypes);
                    self.customer.addresses = response.body.data.customer.addresses.filter(function (address) {
                        address.editing = false;
                        address.trashed = false;
                        return address;
                    });
                }, response => {
                    console.log("error");
                });
            },
            validate: function () {
                var self = this;
                var errors = [];
                if (self.customer.addresses.length > 0) {
                    var primaryAddresses = self.customer.addresses.filter(function (a) {
                        return a.is_primary == 1 && !a.is_deleted;
                    });
                    console.log(primaryAddresses);
                    if (primaryAddresses.length == 0) {
                        errors.push("You must select a primary address");
                    }
                }
                console.log(errors);
                if (errors.length > 0) {
                    self.showErrors(errors);
                } else {
                    self.post();
                }
            },
            save: function () {
                var self = this;
                self.validate();
            },
            post: function () {
                var self = this;
                console.log(self.customer);

                this.$http.put("/admin/customer/" + self.customer.id, self.customer
                ).then(response => {
                    this.$router.push({name: "admincustomertable"});
                }, response => {
                    self.showErrors(response.body.errors);
                    console.log("error");
                });
            },
            showErrors: function (errors) {
                var errorString = errors.join("<BR/>");
                jQuery("#usereditbox > div.error > div.errormessage").html(errorString);
                jQuery("#usereditbox > div.error ").removeClass("hidden");
                jQuery("#usereditbox > div.error ").show();
            }
        },
        mounted () {
            this.init();
        }
    }


</script>
