<template>
    <div id="usereditbox" class="box box-primary">
        <div class="hidden error alert alert-warning alert-dismissible">
            <button type="button" class="close" data-hide="alert" aria-hidden="true">?</button>
            <h4><i class="icon fa fa-warning"></i> Error!</h4>
            <div class="errormessage">

            </div>
        </div>
        <div class="box-body">
            <h3>Adding new group</h3>
            <div class="row">
                <div class="col-md-4">
                    <label for="name">Name</label>
                    <input type="text" name="name" v-model="group.name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="identifier">Identifier</label>
                    <input type="text" name="identifier" v-model="group.identifier"/>
                </div>
            </div>

            <button class="btn btn-info" v-on:click="save">Save</button>
        </div>
    </div>
</template>

<script>
    window.Vue = require('vue');
    var VueResource = require('vue-resource');
    window.Vue.use(VueResource);

    Vue.http.interceptors.push((request, next) => {
        request.headers.set('X-CSRF-TOKEN', window.Laravel.csrfToken);
        console.log(window.Laravel.csrfToken);
        next();
    });

    export default {
        data () {
            return {
                id: this.$route.params.id,
                group: {}
            }
        },

        methods: {
            init: function () {
                var self = this;
                self.group = {};
            },
            validate: function()
            {
                var self = this;
                var errors = [];
                if(errors.length>0)
                {
                    self.showErrors(errors);
                } else {
                    self.post();
                }
            },
            save: function () {
                var self = this;
                console.log(self.group);
                self.validate();
            },
            post: function () {
                var self = this;
                this.$http.post("/admin/group", self.group
                ).then(response => {
                    this.$router.push({name: "admingrouptable"});
                }, response => {
                    self.showErrors(response.body.errors);
                    console.log("error");
                });
            },

            showErrors: function(errors)
            {
                var errorString = errors.join("<BR/>");
                jQuery("#usereditbox > div.error > div.errormessage").html(errorString);
                jQuery("#usereditbox > div.error ").removeClass("hidden");
                jQuery("#usereditbox > div.error ").show();
            }
        },
        mounted () {
            this.init();
        }
    }


</script>
