
<template>
  <div class="box box-primary">
    <div class="box-body">
      <datatable :columns="table_columns" :data="users" filterable paginate>
          Loading....
      </datatable>

    </div>
  </div>
</template>

<script>
import datatable from 'vuejs-datatable';
window.Vue = require('vue');

Vue.component('edit-button', {
    template: `
        <button class="btn btn-xs btn-primary" @click="goToUpdatePage">Edit</button>
    `,
    props: ['row'],
    methods: {
        goToUpdatePage: function(){
            console.log(this);
            this.$router.push({ name: 'adminuseredit', params: { id: this.row.id }})
//            window.location = 'edit/' + this.row.id ;
        }
    }
});


export default {
  components: {
      datatable:datatable,
  },

  data () {
    return {
        table_columns: [
            {label: '', width:'50', component:'edit-button'},
            {label: 'Name', field: 'name'},
            {label: 'Email', field: 'email'},
        ],
        users: [
      ]
    }
  },

  methods: {
      init: function () {
          var self = this;
          self.$http.get("/admin/user").then(response => {
              console.log(response.body.data);
              self.users = response.body.data;
          }, response => {
              console.log("error");
          });
      }
  },
  mounted () {
      this.init();
  }
}

</script>
