
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.bigfont
{
  font-size: 1.4em !important;
}

tr.strikethrough {
    background-color: #db8b0b !important;
  font-style:italic;
}



