
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables

// Bootswatch
@import "node_modules/bootswatch/flatly/variables";

@import "front_variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootswatch/flatly/bootswatch";


#deviceimage
{
  padding-top: 1.2em;
}
#fronthero > ul
{
  list-style:none;
  //padding-left:0;
}
#fronthero > ul > li
{
  line-height: 2em;
  font-size: 1.3em;
}
#fronthero > ul > li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .pushcontent {
    height: 150px; /* .push must be the same height as .footer */
}
.footer
{
  padding-top: 2em;
  background-color: $navbar-default-bg;
  color: $alert-danger-text;
}